html, body, ul, li{
    margin: 0;
    padding: 20px;
}

.gallery{
    width: 860px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
}

.photos{
    position: relative;
    height: 670px;
}

.photos img{
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
    border-radius: 5px;
}

.photos img.showed{
    opacity: 1;
}

.input-container {
    margin-top: 20px
}

.button-action {
    border: none;
    width: auto;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.5);
}

.button-action:hover {
    background-color: rgba(0, 128, 0, 0.5);
    cursor: pointer;
}

.button-action[disabled] {
    background-color: rgba(128, 128, 128, 0.2);
}

.button-action[disabled]:hover {
    background-color: rgba(128, 128, 128, 0.2);
    cursor: auto;
}

.delay-input {
        width: 60px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid rgba(128, 128, 128, 0.5);
        padding: 3px;
}